{% include 'header.html' %}
      <div class="container-fluid">
            
            <h3 class="mt-4">The Ranking</h3> 
            <table id="example" class="compact stripe display" style="width:100%">
                <thead>
                    <tr>
                        <th>CITY</th>
                        <th>SMART ECONOMY</th>
                        <th>SMART MOBILITY</th>
                        <th>SMART LIVING</th>
                        <th>SMART PEOPLE</th>
                        <th>SMART INFRASTRUCTURE</th>
                        <th>OVERALL</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CITY</th>
                        <th>SMART ECONOMY</th>
                        <th>SMART MOBILITY</th>
                        <th>SMART LIVING</th>
                        <th>SMART PEOPLE</th>
                        <th>SMART INFRASTRUCTURE</th>
                        <th>OVERALL</th>
                    </tr>
                </tfoot>
            </table>
      </div>
{% include 'footer.html' %}
