{% include 'header.html' %}
      <div class="container-fluid">
            
            <h3 class="mt-4">Smart City Model</h3> 
            <p>A Smart City is a city well performing in 5 characteristics, built on the 'smart' combination of endowments and activities of self-decisive, independent and aware citizens</p>
            <center><img src={{url_for('static', filename='images/smart_city_model.png')}}></center>
            <h3 class="mt-4">Sampling</h3> 
            <p>Eleven sample cities were selected across the vidharbha which are the district places of Vidharbha region. Sampling of survey is done by random sampling method. The aim of research is to take the willingness of stakeholders about Smart City. In order to better results, sampling from all the eleven cities of stakeholders are carried out. Standardization and aggregation To compare the different indicators it is necessary to standardize the values. The dimension of indicator varies from index to index. First is to need to conduct the standardized integration. All the indicators have to go through non-dimensional processing. The objective indices can be divided into singular objective indices and composite objective indices. Z scores are calculated of all the indicators. This method transforms all indicator values into standardized values with an average.</p>
            <center><img src={{url_for('static', filename='images/aggregation_formula.png')}}></center>
      </div>
{% include 'footer.html' %}
